
body{
    position: relative;
    background-image: linear-gradient(to right,tomato,yellow);
    width: 100%;

}
h1{
    position: relative;
    top: -100px;
    font-family: cursive;
    color: blue;
    font-size: 3em;
}