/* CSS Reset */
*{
    border: px solid green;
    margin: 0;
    padding: 0;

}
/* CSS Variables */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    position: sticky;
    z-index: 999;
    top: 0px;
    background:rgba(0,0,0,0);
    height: 105px;
    width: 100%;
    display: flex;
    align-items: center;
   

}
#navbar::before{
    content: "";
    
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
  
    opacity: 0.67;

}
/* Navigation Bar:logo and image */
#logo{
    margin: 10px 20px;

}
#logo img{
    width: 90px;
    height: 88px;
    margin: 3px 5px;
}
/*Navigation Bar: list styling */
#navbar ul{
    position: relative;
    top: 3px;
    display: flex;
   
    font-family: 'Roboto Slab', serif;
}
#navbar ul li{
    /* color: white; */
    /* background: #000; */
    list-style: none;
    font-size: 16px;
    padding: 0px;
    border-radius: 25px;

}
#navbar ul li:hover{
   
    border-radius: 5px ;
    
    border-radius: 25px;
    /* font-size: ; */
}
#navbar ul li a{
    
    color: white;
        display: block;
        padding: 1px 20px;
        text-decoration: none; 
        transition: 0.3s;
        
}
#navbar ul li a:hover{
    color: orange;
}

/* Home Section */
#home{
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4));
    flex-direction: column;
    padding: 3px 200px;
    height: 420px;
    justify-content: center;
    align-items: center;
    
    
}
#home::before{
    content: "";
    background: url('../bg-4.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 531px;
    width: 100%;
    z-index: -1;
   opacity: .89;
    
    
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    transition: all 1s;
    
}
#home h1:hover{
    color: chartreuse;
   

}
#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Baloo 2', cursive;
}/* services container section */
  #services{
      margin: 34px;
      display: flex;
     
  }
  .services-container{
      /* border: 2px solid green; */
     position: relative;
     top: 0px;
  }
  
  #services .box{
      border: 0px solid skyblue;
      border-radius: 20px;
        background: #f2f2f2;
      padding-right: 0px;
    
      margin: 3px 83px;
  }
  #services .box p{
    font-family: 'Baloo 2', cursive;

  }
  #services .box img{
      position: relative;
      left: 35px;
      height: 165px;
      display: flex;
      flex-direction: row;
      
  }
  #services{}
  #services{}
  #services{}
  #services{}
  #services{}
  /* Clients Sections */
  #client{
      display: flex;
      flex-direction: row;
  }
  #client-section{
      height: 260px;
      background: linear-gradient();
      /* border: 3px solid blue; */
  }
  #client-section::before{
      content: "";
      position: absolute;
      background: url('../bg-1.jpg');
      width: 100%;
      height: 260px;
      opacity: 0.4;
     
      z-index: -1;
  }
  
  #client{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #client  img{
     height:120px;
  }
  .client-item{
      margin: 10px;
      padding: 20px 40px;
  }
  /* Contact Section */   
        #contact{
            position: relative;
            
        }
        #contact::before{
           content: "";
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: -1;
        opacity: 0.8;
           background: url('../bg-2.jpg') no-repeat center center/cover;
        }
        #contact-box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 34px;
        }
        #contact-box input,textarea{
            background: white;
            border-radius: 5px;
            
            font-size: 16px;
            width: 100%;
            padding:5px ;
            font-family: 'Baloo 2', cursive;
        }
        #contact-box input,textarea:focus{
            color: black;
            border: 2px solid skyblue;
        }
        
        #contact-box textarea{
            
            font-size: 10px;
            /* width: ; */
            height: 100px;
           border: 2px solid skyblue;
            transition: 1s;
            /* background: ; */
        }
        #contact-box textarea:focus{
            background: rgba(0,0,0,0.4);
        
        }
        #contact-box textarea:focus{
            height: 300px;
            background: rgba(0,0,0,0.4);
            color: white;
            font-size: 20px;
        }
        #contact-box button{
            padding: 6px 20px;
    border: 0px solid black;
    background: linear-gradient(rgb(38, 195, 243),pink);
    color: black;
  
    font-size: 0.9rem;
    border-radius: 9px;
    width: 618px;
    cursor: pointer;
    position: relative;
    font-weight: bolder;
   
    top: 10px;
    left: 0px;

    transition: .3s;
            
        }
        #contact-box button:hover{
        color: rgb(241, 210, 210);
        }
        #contact-box form{
            border: 3px solid skyblue;
            padding-left: 30px;
            padding-right: 44px;
            padding-top: 21px;
            padding-bottom: 36px;
            background:linear-gradient(white,rgba(27, 5, 5, 0.1));
            border-radius: 40px;
            width: 40%;
           
           
            
        }
        #contact-box label{
            font-family: 'Baloo 2', cursive;
           font-size: 1.1rem;
           color: black;
        }
        footer{
            background: black;
            color: white;
            padding: 9px 20px;
        
        
        }


/* utility claasses */
.h-primary{
    font-size: 2.1rem;
    font-family: 'Roboto Slab', serif;
    padding:12px;
}
.h-secondary{
    font-size: 1.8rem;
    padding:2px;
    font-family: 'Roboto Slab', serif;
    font-size:1.4rem ;
}
.btn{
    padding: 6px 20px;
    border: 0px solid white;
    background:linear-gradient(orange,tomato);
    color: white;
    margin: 17px;
    font-size: 0.9rem;
    border-radius: 30px;
    height: 36px;
    width: 140px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: bolder;
    
    
    
}
.btn:hover{
   border: 1px solid white;
    color: whitesmoke;
}
.center{
    text-align: center;
}

#services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#client{

}
@media ( max-width : 640px ){
    #navbar{
        display: none;
    }
    .fold{
        width: 100%;
        height: 20px;
        background-color: yellow;
    }

    @media (min-width:360px){
        .fold{
        width: 100%;
        height: 20px;
        background-color: yellow;
        }
        
    }

    #navbar ul {
        width: 40%;
    }
    #services .box {
        margin: 3px 2px;
    }

}
@media (max-width:768px){
    #navbar{
        width: 100%;
        background-color: rgb(255, 255, 0);
    }
    #navbar ul li a{
        width: 120px;
    }
    #navbar ul li{
        width: 120px;
    }
    #home h1{
        width: 400px;
        font-size: 30px;
    }
    #home p {
       
        width: 440px;
        font-size: 12px;
    }
    #services .box img{
        display: flex;
        
        /* justify-content:center; */
        margin-left: 130px;
    }
    #contact-box button{
        width: 150px;
    }
    /* #services{
    flex-direction: column;
    } */
    #services {
        flex-direction: column;
        margin-top: 30px;
    }
    #services .box{
 margin: 10px 2px;
        }
        #navbar ul {
            width: 50%;
        }
         #client img{
             /* display: flex; */
        flex-direction: column;
    }

    }
 
    



